# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Payments (Stripe)
# Set ENVIRONMENT=DEVELOPMENT to use STRIPE_TEST_SECRET_KEY
ENVIRONMENT=DEVELOPMENT
STRIPE_TEST_SECRET_KEY=
STRIPE_SECRET_KEY=

# Email (SendGrid)
SENDGRID_API_KEY=
NOREPLY_EMAIL=noreply@cvphoto.app

# Astria / webhooks
ASTRIA_API_KEY=
APP_WEBHOOK_SECRET=
